@charset 'utf-8';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
    color:inherit
}
img{
    width: 100%;
    vertical-align: top;
}
ul,ol,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,strong{
    font-weight: 600;
    font-size: inherit;
}

article,aside,nav,figure,figcaption,footer,address,picture{
    display: block;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.header,.slider,.footer{
    width: 100%;
}
.sec{
    flex: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 100px;
}
.header h1{
    font-size: 30px;
    line-height: 100px;
    margin-left: 10px;
}

/* main-nav */
.main-nav{
    display: flex;
}
.main-nav li{
    padding: 10px 38px;
    color: #000;
}
.main-nav li:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.main-nav>li::before{
    content: '';
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    top: 100px;
    height: 0;
    background-color: #ccc;
    transition: 0.15s;
}
.main-nav>li.active::before{
    display: block;
    height: 200px;
}

/* sub-nav */
.sub-nav{
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 100;
    background-color: #000;
    display: none;
}
.sub-nav.active{
    display: block;
}
.sub-nav>li{
    float: left;
}
.sub-nav>li>ul>li{
    padding: 10px 24.4px;
    color: #fff;
    cursor: pointer;
}
.sub-nav>li>ul>li:hover{
    background-color: #fff;
    color: #000;
}

/* slider */
.slide{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slides li{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.7s;
    
}
.slides li:first-child{
    z-index: 10;
}

/* notice */
.sec{
    height: 200px;
}
.sec h2{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.notice-list{
    padding: 0 10px 10px 10px;
}
.notice-list li{
    line-height: 27px;
}
.notice-list li a{
    float: left;
}
.notice-list li span{
    float: right;
}
.notice .notice-modal{
    width: 500px;
    height: 300px;
    display: none;
    position: fixed;
    left: 50%;
    top: 28%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
} 
.notice .notice-modal h3{
    margin: 15px 0;
}
.notice .notice-modal .txt-box p{
    margin: 15px 0;
}
.notice .notice-modal button{
    margin-top: 15p;
    width: 80px;
    height: 30px;
}
.notice-modal.active{
    display: block;
}

/* gallery */
.gallery ul{
    display: flex;
    justify-content: center;
}
.gallery li{
    margin-top: 10px;
    margin-right: 10px;
}
.gallery li:last-child{
    margin-right: 0;
}
.gallery img{
    width: 120px;
}
.gallery .photo{
    float: left;
    margin:10px 0 0 10px;
    text-align: center;
}
.gallery .modal{
    width: 500px;
    height: 300px;
    display: none;
    position: fixed;
    left: 50%;
    top: 28%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
} 
.gallery .modal h3{
    margin: 15px 0;
}
.gallery .modal .txt-box p{
    margin: 15px 0;
}
.gallery button{
    margin-top: 15p;
    width: 80px;
    height: 30px;
}

/* banner */
.banner .img-box{
    width: 400px;
    height: 140px;
    overflow: hidden;
    text-align: center;
}
.banner img{
    width: 380px;
}

/* footer */
.footer{
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #ececec
}
.footer h1{
    font-size: 20px;
}
.footer .copyright{
    font-size: 25px;
}
.footer .f-site{
    position: relative;
    
}
.footer .f-site span{
    font-size: 14px;
    border: 1px solid #000;
    padding: 5px 20px;
}
.footer .f-list{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
}
.footer .f-list.show{
    display: block;
}
.footer .f-list li{
   padding: 5px 20px;
   font-size: 15px;
   background-color: #e6f1f8;
   color: #000;
}
.footer .f-list li:hover{
   background-color: #16164bdc;
   color: #fff;
}


